.textArea {
    overflow: auto;
    background-color: lightgray;
    padding: 20px 0;
    flex: 1;
    display: flex;
    
    :focus {
        outline: none;
    }

    .lineNumbersWrapper {
        position: sticky;
        /* Safari */
        position: -webkit-sticky;
        left: 0;
        /* Bring line numbers in front of the text. */
        z-index: 1;
        background: lightgreen;
        height: max-content;
    }

    .contentWrapper {
        /* Position the wrapper so that children
        can be positioned absolutely */
        position: relative;
        margin-left: 10px;
        cursor: text;
        flex: 1;

        .letterRow {
            /* Prevents images from wrapping */
            white-space: nowrap;
        }
    }
}